@keyframes minToMax {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
@keyframes BlackToWhite {
	0% {
	}
	100% {
		box-shadow: 3px 3px 3px white;
	}
}
@keyframes BlackToWhite_reverse {
	0% {
	}
	100% {
		box-shadow: -3px 3px 0px white;
	}
}

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.div1 {
	border-bottom-right-radius: 10px;
	min-height: 205px;
	animation-name: BlackToWhite;
	animation-direction: alternate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
.div2 {
	border-bottom-left-radius: 10px;
	min-height: 205px;
	animation-name: BlackToWhite_reverse;
	animation-direction: alternate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.imagen {
	width: 40vw;
	max-height: 40vh;
	border-bottom: solid 3px black;
	border-radius: 5px;
	margin: 30px;
	animation-name: minToMax;

	animation-duration: 1s;
}
.links__container {
	display: flex;
	flex-direction: column;
	animation-name: minToMax;

	animation-duration: 1s;
}

.info_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 2px;
	animation-name: minToMax;

	animation-duration: 1s;
}
.webpage__detalle {
	font-size: 12px;
	color: whitesmoke;
}
.informacion {
	color: white;
	width: 122px;
	text-align: end;
	margin-right: 10px;
	margin-bottom: 10px;
	text-decoration: none;
	text-align: center;
	box-shadow: 0px 0px 2px;
	border: none;
}
.informacion:hover {
	background-color: white;
	color: black;
	box-shadow: 0px 0px 4px 4px white;
}

.button {
	background: none;
	border: none;
}

@media (min-width: 1080px) {
	.container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.div1 {
		width: 70vw;
		height: 60vh;
	}
	.div2 {
		width: 70vw;
		height: 60vh;
	}
	.imagen {
		width: 35vw;
		max-height: 37vh;
		margin: 30px;
	}
	.webpage__detalle {
		font-size: 26px;
		color: whitesmoke;
	}
	.informacion {
		color: white;
		width: 130px;
		font-size: 25px;
		text-align: end;
		margin-right: 30px;
		text-align: center;
		border: none;
		border-radius: 5px;
		background: none;
	}
}
