/* @keyframes botToTop {
	from {
		margin-top: 200%;
	}
	to {
		margin-top: 0%;
	}
}
@keyframes minToMax {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@keyframes topToBot {
	from {
		margin-bottom: 200%;
	}
	to {
		margin-bottom: 0%;
	}
} */

.container {
	display: flex;
	flex-direction: column;
	color: rgb(216, 216, 216);
	align-items: center;
	justify-content: flex-start;
	min-height: 577px;
	height: 91vh;
	width: 100%;
	padding-top: 60px;

	background-color: rgba(1, 1, 1, 0.7);
}
.column {
	display: flex;
	flex-direction: column;
	max-width: 350px;
	margin-bottom: 20px;
	/* animation-name: minToMax;
	animation-duration: 1s; */
	background: -webkit-linear-gradient(
		top,
		rgba(1, 1, 1, 0.5),
		rgba(1, 1, 1, 0.5),
		rgba(12, 245, 132, 0.1)
	);
	border-radius: 10px;
}
.column b {
	color: rgba(255, 0, 0, 0.9);
}
.titulo {
	height: 100px;
}
.container__column {
	display: flex;
	flex-direction: column;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.robot {
	position: absolute;
	z-index: -10;
	height: 150px;
	right: 0px;
	bottom: 0px;
}
.cv__link {
	padding: 10px;

	border: none;
	box-shadow: 0px 0px 2px 2px rgb(216, 216, 216);
	color: rgb(216, 216, 216);
	text-decoration: none;
	font-size: 20px;
	background-color: transparent;
	width: 40vw;

	border-radius: 10px;
	transition: all 0.5s ease;
	animation-name: botToTop;
	animation-duration: 1s;
}

.cv__link:hover {
	color: rgb(12, 245, 132);
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 0px 0px 2px 2px rgb(12, 245, 132);
}
@media (min-width: 600px) and (min-height: 500px) {
	.container {
		min-height: 93vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: rgb(216, 216, 216);
		margin-top: 90px;
	}
	.titulo {
		color: rgb(216, 216, 216);
		font-size: 60px;
	}
	.container__column {
		display: flex;
		flex-direction: column;
		align-content: flex-end;
		width: 70vw;
		justify-content: space-between;
	}
	.robot {
		position: absolute;
		right: 0px;
		height: 350px;
		bottom: 0px;
	}
	.column {
		flex-direction: column;
		text-align: center;
		align-items: center;
		margin-left: 30px;
		font-size: 20px;
		max-width: 60vw;
		animation-name: topToBot;
		animation-duration: 1s;
	}
	.column text {
		font-size: 25px;
	}
	.cv__link {
		max-width: 30vw;
		font-size: 30px;
	}
}
