.main {
  display: flex;
  flex-direction: row;

  background: rgba(1, 1, 1, 0.9);

  height: 70px;
  width: -webkit-fill-available;

  position: fixed;
  padding-left: 20px;
  padding-right: 20px;
  top: 0px;

  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.ventana {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  transition: all 0.3s ease;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 1);
  background-size: contain;

  align-items: center;
  justify-content: center;
}
.redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 50%;
}

.close__button {
  background: none;
  border: none;
  text-decoration: none;
  color: rgb(216, 216, 216);
  font-size: 35px;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}
.close__button:hover {
  background: none;
  border: none;
  color: rgb(12, 245, 132);
}
.mobile_menu {
  background: none;
  background-image: url("https://res.cloudinary.com/fiba06-dev/image/upload/v1645223823/dwf-m8/menu_xuahjq.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: 0px 0px 2px 2px white;
  border-radius: 8px;
  color: white;
  width: 40px;
  height: 40px;
}
.mobile_menu:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 1px 1px white;
}

.links_container {
  display: none;
}

@media (min-width: 1080px) {
  .main {
    flex-direction: column;
    top: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 12rem;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    background-color: rgba(1, 1, 1, 0.1);
  }
  .mobile_menu {
    display: none;
  }
  .links_container {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
  }
  .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
  }
  .ventana {
    display: none;
  }
}
