.main {
	display: flex;
	flex-direction: row;

	height: 90px;
	width: 95vw;
}

.ventana {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	transition: all 0.3s ease;
	background-repeat: no-repeat;
	background-color: rgba(3, 0, 0, 0.9);
	background-size: contain;

	align-items: center;
	justify-content: center;
}

.close__button {
	background: none;
	border: none;
	border-radius: 8px;
	color: white;
	font-size: 30px;
	box-shadow: 0px 0px 2px 2px white;
	position: absolute;
	top: 20px;
	right: 20px;
}
.close__button:hover {
	box-shadow: 0px 0px 4px 4px white;
}
.mobile_menu {
	background-image: url("https://res.cloudinary.com/fiba06-dev/image/upload/v1645223823/dwf-m8/menu_xuahjq.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	box-shadow: 0px 0px 2px 2px white;
	border-radius: 8px;
	color: white;
	width: 40px;
	height: 40px;
	position: fixed;
	top: 15px;
	right: 15px;
}
.mobile_menu:hover {
	box-shadow: 0px 0px 4px 4px white;
}

.home_icon {
	background: none;
	background-image: url("https://res.cloudinary.com/fiba06-dev/image/upload/v1645211755/dwf-m8/home_pwc1q1.png");

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 45px;
	height: 45px;
	border: none;
	color: white;
	background-color: none;
	border-radius: 8px;
	box-shadow: 0px 0px 2px 2px white;
	position: fixed;
	left: 15px;
	top: 20px;
}
.home_icon:hover {
	box-shadow: 0px 0px 4px 4px white;
}
/* background-image: url("https://res.cloudinary.com/fiba06-dev/image/upload/v1645213400/dwf-m8/redhouse_u7r6y6.png"); */
.links_container {
	position: fixed;
	display: none;
	top: 15px;
	right: 10px;
	min-width: 500px;
}

@media (min-width: 1080px) {
	.mobile_menu {
		display: none;
	}
	.links_container {
		display: flex;
	}
}
