.root {
	background-color: rgb(241, 245, 31);
	font-weight: 600;
	border: 1px solid black;
}
.home__button {
	height: 45px;
	width: 45px;
	fill: rgb(216, 216, 216);
	stroke: rgb(216, 216, 216);
	stroke-width: 1px;
	transition: all 0.5s ease;
}
.home__button:hover {
	fill: rgb(12, 245, 132);
	stroke: rgb(12, 245, 132);
}
.logo__button {
	fill: rgb(216, 216, 216);
	height: 45px;
	width: 45px;
	stroke: rgb(216, 216, 216);
}
.logo__button:hover {
	fill: rgb(12, 245, 132);
	stroke: rgb(12, 245, 132);
}
.github__button {
	fill: rgb(216, 216, 216);
	height: 45px;
	width: 45px;
	cursor: pointer;
	stroke: rgb(216, 216, 216);
}
.github__button:hover {
	fill: rgb(12, 245, 132);
	stroke: rgb(12, 245, 132);
}
.linkedin__button {
	fill: rgb(216, 216, 216);
	height: 45px;
	width: 45px;
	cursor: pointer;
	stroke: rgb(216, 216, 216);
}
.linkedin__button:hover {
	fill: rgb(12, 245, 132);
	stroke: rgb(12, 245, 132);
}
.burger__button {
	border-radius: 10px;
	height: 45px;
	width: 45px;
	fill: rgb(216, 216, 216);
}
.burger__button:hover {
	fill: rgb(12, 245, 132);
}
.desktop__button {
	display: flex;
	align-items: center;
	border: none;
	text-decoration: none;
	text-align: center;
	text-justify: center;
	justify-content: center;
	height: 40px;

	color: rgb(216, 216, 216);
	font-size: 1.3rem;
	font-weight: bold;
	margin-right: 10px;
	font-family: "Courier New", Courier, monospace;
	cursor: pointer;
	color: rgb(216, 216, 216) !important;

	padding: 0.2em 1.2em;
	background: rgba(0, 0, 0, 0);

	transition: all 0.5s ease;
	position: relative;
	border-bottom: 1px solid white;
	border-radius: none;
}
.desktop__button:hover {
	color: rgb(12, 245, 132) !important;
}
.mobil__button {
	background: transparent;
	font-family: "Courier New", Courier, monospace;
	text-decoration: none;
	border-radius: 8px;
	color: rgb(216, 216, 216) !important;
	padding: 0.2em 0.2em;
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 10px;
	transition: all 0.5s ease;

	cursor: pointer;
}
.mobil__button:hover {
	background: rgb(12, 245, 132);
	color: rgb(5, 5, 5) !important;
	box-shadow: 0px 0px 1px 1px rgb(12, 245, 132);
}

@media (min-width: 1080px) {
	.burger__button {
		display: none;
	}
}
