.letra {
	font-size: 35px;
	color: rgb(215, 215, 215);
	font-weight: bold;
}
.letra2 {
	font-size: 25px;
	color: rgba(255, 0, 0, 0.9);
	font-weight: 600;
}
.letra3 {
	font-size: 45px;
	line-height: 65px;
	height: 50px;
	color: rgb(12, 245, 132);
	font-weight: bold;
}
@media (min-width: 1080px) {
	.letra {
		color: white;
		font-size: 55px;
		font-weight: bold;
		height: 55px;
	}
	.letra2 {
		font-size: 45px;
		height: 45px;
		font-weight: 600;
	}
	.letra3 {
		font-size: 55px;
		height: 55px;
	}
}
