.letra {
	font-size: 25px;
	color: white;
	font-weight: bold;
}
.letra2 {
	font-size: 25px;
	color: whitesmoke;
	font-weight: 500;
}
@media (min-width: 1080px) {
	.letra {
		color: white;
		font-size: 55px;
		font-weight: bold;
		height: 55px;
	}
	.letra2 {
		color: white;
		font-size: 45px;
		height: 45px;
		font-weight: 500;
	}
}
