body {
	padding: 0px;
	font-family: "Courier New", Courier, monospace;
	box-sizing: content-box;
	margin: 0px;
}
body {
	font-family: "Courier New", Courier, monospace;
	background-size: cover;
	background-color: rgba(15, 15, 15, 1);
	margin: 0px;
	padding: 0px;
}
