.container {
	display: flex;
	flex-direction: column;
	color: white;
	align-items: center;
	height: 80vh;
	width: 98vw;
}
.column {
	max-width: 350px;
}
.container__column {
	display: flex;
	flex-direction: column;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.cv {
	margin-top: 20px;
	border: none;
	box-shadow: 0px 0px 2px 2px white;
	color: white;
	text-decoration: none;
	font-size: 20px;
	background-color: transparent;
	width: 40vw;
	height: 5vh;
	border-radius: 10px;
}
.cv:hover {
	box-shadow: 0px 0px 4px 4px white;
}
.cv__link {
	text-decoration: none;
	color: white;
}
@media (min-width: 1080px) {
	.container {
		min-height: 80vh;
		width: 90vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: aliceblue;
	}
	.titulo {
		color: white;
		font-size: 35px;
	}
	.container__column {
		display: flex;
		flex-direction: column;
		align-content: flex-end;
		width: 80vw;
		justify-content: space-between;
	}
	.column {
		flex-direction: column;
		text-align: center;
		align-items: center;
		margin-left: 30px;
		font-size: 20px;
		max-width: 60vw;
	}
	.cv {
		max-width: 30vw;
	}
}
