.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.titulo {
	color: white;
}
.home__name__div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
@media (min-width: 1180px) {
	.home__name__div {
		flex-direction: row;
		width: 1080px;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
}
