.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100vw;
	margin-top: 60px;
}
/* width */
::-webkit-scrollbar {
	display: none;
}
.imagen {
	display: none;
}
.titulo {
	color: whitesmoke;
	text-align: center;
	font-size: 45px;
}
.home__name__div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 350px;
	min-height: 120vh;
}
@media (min-width: 1180px) {
	.home__name__div {
		flex-direction: row;
		width: 1080px;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	.titulo {
		color: whitesmoke;
		font-size: 60px;
	}
	.imagen {
		display: block;
		position: fixed;
		bottom: 0px;
		right: 0px;
		height: 280px;
	}
}
